*, *:after, *:before {
	box-sizing:border-box;
}
ul	{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a, a:hover {
	text-decoration: none;
}
img {
	max-width: 100%;
	display: block;
}
body, html {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
}
.header-top {
    display: flex;
    padding: 15px;
}
.header-top > div {
    flex: 1;
}
.nav-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-wrap a {
    flex: 1;
    text-transform: uppercase;
    border-radius: 5px;
    background: #0286bb;
    color: #fff;
    text-align: center;
    max-width: 140px;
    padding: 5px 0;
}

.nav-list li {
	float: left;
	margin-right: 15px;
}
.header-bottom {
    padding: 10px 15px 3px;
    border-bottom: 1px solid #212121;
}
.nav-list a {
	font-size: 16px;
	font-weight: 600;
	color: #212121;
}
.slick-arrow {
	display: none !important;
}
.slick-dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.slick-dots li {
    display: inline-block;
    margin: 0 5px;
}
.slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    border: 0;
    border-radius: 50%;
}